{% extends "Register/layout.html" %}
{% block body %}
<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
	<h1>Welcome, {{ data.name }}</h1>
	<h4>Username:{{ data.username }}</h4>
	<h4>Email:{{ data.email }}</h4>
	<a href="login">Click to logout</a>
{% endblock %}