<!DOCTYPE html>
<html lang="en">
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
</head>
<body>
 <style >
		body {background-image: url('https://images.unsplash.com/photo-1509378388950-08b78f33d897?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');}
	</style>
 <div class="alert alert-warning">
 <a href="tasks/"><h1 style="text-align: center; color:black; font-weight: 900; ">TO-DO LIST TASK</h1></a>
 </div>
 <br>
 <div class="alert alert-warning">
 <a href="register/"><h1 style="text-align: center; color:black; font-weight: 900; ">LOGIN PAGE TASK</h1></a>
 </div>
</body>
</html>